<h1>Marine Life and the Oil Spill</h1>

<p>
  We have modified pointmap to include depth, making pointmap KMLs suitable for layered visualization with data on the oil spill from NOAA (www.nesdis.noaa.gov/news_archives/gulf_spill.html).
  Users need only create a simple data file of geographic and depth references for each taxon in comma separated values (csv) format in an editor like Excel.
</p>

<h3>How to create oil KMLs:</h3>
<p>
  The easiest way to add the oil spill to a speciesmap is to simply create a new speciesmap and check the "Link Kml to Oil Spill" box.<br/><br/>
  The following explains how to add oil to an existing kml.
</p>
<ol>
  <li>Go to <a href="data.gbif.org">GBIF Data Portal</a></li>
  <li>Search for the specific species you are interested in</li>
  <li>Click on the name of the species</li>
  <li>Right click and download "Placemarks for Google Earth" link</li>
  <li>Find and open the downloaded file with a text editor such as BBEdit or TextEdit</li>
  <li>Add the following line of code:<br/>"<i>&lt;NetworkLink&gt;<br />
        &lt;open&gt;1&lt;/open&gt;<br />

	&lt;name&gt;NOAA Spill Extent&lt;/name&gt;<br />
	&lt;Link&gt;<br />
		&lt;href&gt;http://depthmap.osu.edu/oil_dates/spill_dates.kmz&lt;/href&gt;<br />
	&lt;/Link&gt;<br />
&lt;/NetworkLink&gt;</i>" <br/><br/>below the following line of code:<br/> "<i>&lt;Document xmlns="http://earth.google.com/kml/2.1"&gt;</i>"</li>
  <li>Save the KML and open it in Google Earth.</li>
</ol>


    <H3> Get Species manually:</H3>
    <script>
         function getSpeciesbyName() {
//               alert( $('#searchbox').val()  )
                $.get('getSpeciesKML/'+$('#searchbox').val(), function(data) {

                    if(data=='0')
                    {
                        alert('Could not find '+ $('#searchbox').val()+'. Maybe you misspelled it.')
                    }
                    else
                    {
                        window.location.href = 'getKML/'+data.replace('"', '').replace("[", "").replace("]", "")+"?name="+$('#searchbox').val();
                    }
                                       });
         }
    </script>
    Species Scientific Name: <input id="searchbox" type="text"/> <input onclick="getSpeciesbyName()"  type="button" value="download kml"></input>

	<p>
		<h3>Browse Species:</h3>
		<ul>

		</ul>
	</p>
 
<h3>Browse for Species(click to expand):</h3>

<script src='http://code.jquery.com/jquery-latest.js'></script>
                          <link rel='stylesheet' href='/css/screen.css' type='text/css' />
                          <link rel='stylesheet' href='/css/jquery.treeview.css' type='text/css' />
                          <script type='text/javascript' src='/javascripts/jquery.treeview.js'></script>
                          <script>
                          $(document).ready(function(){
                            $('tree2').treeview();
                            $(".pclass").onclick()
                          });
                           var treestate = {};

                             function getOrder(id) {
                             if(treestate["class"+id]==0){
                                treestate["class"+id]=1

                                 $.getJSON('getOrder/'+id, function(data) {
                                   var items = [];

                                   $.each(data, function(key, val) {
                                        $('#orderlist'+id).append("<li><span onclick='getFamily("+val[0]+")'> order: " + val[1] + "</span><br/><ul id='f"+val[0]+"'></ul></li>");
                                          treestate["order"+val[0]] = 0;
                                   });
                                 });
                                }
                             }

                             function getFamily(id) {

                                 if(treestate["order"+id]==0){
                                 treestate["order"+id]=1

                                 $.getJSON('getFamily/'+id, function(data) {
                                   var items = [];

                                   $.each(data, function(key, val) {
                                        $('#f'+id).append("<li><span onclick='getGenus("+val[0]+")'> family: " + val[1] + "</span><br/><ul id='g"+val[0]+"'></ul></li>");
                                          treestate["family"+val[0]] = 0;
                                   });
                                 });


                                }
                             }

                             function getGenus(id) {
                                 if(treestate["family"+id]==0){
                                     treestate["family"+id]=1

                                     $.getJSON('getGenus/'+id, function(data) {
                                       var items = [];

                                       $.each(data, function(key, val) {
                                            $('#g'+id).append("<li><span onclick='getSpecies("+val[0]+")'> genus: " + val[1] + "</span><br/><ul id='s"+val[0]+"'></ul></li>");
                                              treestate["genus"+val[0]] = 0;
                                       });
                                     });
                                }
                             }

                             function getSpecies(id) {
                                 if(treestate["genus"+id]==0){
                                     treestate["genus"+id]=1

                                     $.getJSON('getSpecies/'+id, function(data) {
                                       var items = [];

                                       $.each(data, function(key, val) {
                                            $('#s'+id).append("<li><span > species: " + val[1] + "</span><a href='getKML/"+val[2]+"?name="+val[1]+"'> (download kml)</a></li>");
                                              treestate["genus"+val[0]] = 0;
                                       });
                                     });
                                }
                             }
                          </script>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>




      <ul id="tree1">
       <% pclass =  ActiveRecord::Base.connection.execute('SELECT id, name FROM class').each { |c|  %>

     <li><span id='class<%=c[0] %>' class="pclass" onclick="getOrder(<%=c[0] %>)">class: <%= c[1] %></span><br/>
                       <ul id='orderlist<%=c[0] %>' > </ul>
     </li>
            <script> treestate["class<%=c[0] %>"] = 0;
   </script>
  <%  } %>
  </ul>



<br/><br/><br/>
<H3>How to use</H3>
<span>To view the kml's oil data in Google earth, move the 2 time sliders a short distance apart and pan the total distance or to see the total oil impact separate the 2 sliders all the way apart.  </span>
<br/> <br/>       
<img src="/images/GoogleEarthSample.png" alt=""/>
<br/> <br/>