<h1>Marine Life and the Oil Spill</h1>

<p>
  We have modified pointmap to include depth, making pointmap KMLs suitable for layered visualization with data on the oil spill from NOAA (www.nesdis.noaa.gov/news_archives/gulf_spill.html).
  Users need only create a simple data file of geographic and depth references for each taxon in comma separated values (csv) format in an editor like Excel.
</p>

<h3>How to create oil KMLs:</h3>
<p>
  The easiest way to add the oil spill to a depthmap is to simply create a new depthmap and check the "Link Kml to Oil Spill" box.<br/><br/>
  The following explains how to add oil to an existing kml.
</p>
<ol>
  <li>Go to <a href="data.gbif.org">GBIF Data Portal</a></li>
  <li>Search for the specific species you are interested in</li>
  <li>Click on the name of the species</li>
  <li>Right click and download "Placemarks for Google Earth" link</li>
  <li>Find and open the downloaded file with a text editor such as BBEdit or TextEdit</li>
  <li>Add the following line of code:<br/>"<i>&lt;NetworkLink&gt;<br />
        &lt;open&gt;1&lt;/open&gt;<br />

	&lt;name&gt;NOAA Spill Extent&lt;/name&gt;<br />
	&lt;Link&gt;<br />
		&lt;href&gt;http://mw1.google.com/mw-earth-vectordb/disaster/gulf_oil_spill/kml/noaa/nesdis_anomaly_rs2.kml&lt;/href&gt;<br />
	&lt;/Link&gt;<br />
&lt;/NetworkLink&gt;</i>" <br/><br/>below the following line of code:<br/> "<i>&lt;Document xmlns="http://earth.google.com/kml/2.1"&gt;</i>"</li>
  <li>Save the KML and open it in Google Earth.</li>
</ol>


    <H3> Get Species manually:</H3>
    <script>
         function getSpeciesbyName() {
//               alert( $('#searchbox').val()  )
                $.get('getSpeciesKML/'+$('#searchbox').val(), function(data) {

                    if(data=='0')
                    {
                        alert('Could not find '+ $('#searchbox').val()+'. Maybe you misspelled it.')
                    }
                    else
                    {
                        window.location.href = 'getKML/'+data.replace('"', '').replace("[", "").replace("]", "")+"?name="+$('#searchbox').val();
                    }
                                       });
         }
    </script>
    Species Scientific Name: <input id="searchbox" type="text"/> <input onclick="getSpeciesbyName()"  type="button" value="download kml"></input>

	<p>
		<h3>Browse Species:</h3>
		<ul>
			<li><a href = "/Kmls/Anchoa_hepsetus.kml">Anchoa_hepsetus</a></li>
			<li><a href = "/Kmls/Anchoviella_perfasciata_Flat_anchovy.kml">Anchoviella_perfasciata_Flat_anchovy</a></li>
			<li><a href = "/Kmls/Antennarius_radiosus_Single_spot_frogfish.kml">Antennarius_radiosus_Single_spot_frogfish</a></li>
			<li><a href = "/Kmls/Antennarius_radiosus_Singlespot frogfish.kml">Antennarius_radiosus_Singlespot frogfish</a></li>
			<li><a href = "/Kmls/Ariopsis_felis_Hardhead_catfish.kml">Ariopsis_felis_Hardhead_catfish</a></li>
			<li><a href = "/Kmls/Astroscopus_y-graecum_Stargazer.kml">Astroscopus_y-graecum_Stargazer</a></li>
			<li><a href = "/Kmls/Bagre_marinus_Gafftop.kml">Bagre_marinus_Gafftop</a></li>
			<li><a href = "/Kmls/Bollmannia_communis_Ragged goby.kml">Bollmannia_communis_Ragged goby</a></li>
			<li><a href = "/Kmls/Brevoortia_patronus_Gulf menhaden.kml">Brevoortia_patronus_Gulf menhaden</a></li>
			<li><a href = "/Kmls/Centropristis_philadelphica_Rock_Sea_bass.kml">Centropristis_philadelphica_Rock_Sea_bass</a></li>
			<li><a href = "/Kmls/Chaetodipterus_faber_Atlantic spadefish.kml">Chaetodipterus_faber_Atlantic spadefish</a></li>
			<li><a href = "/Kmls/Chloroscombrus_chrysurus_Bumper.kml">Chloroscombrus_chrysurus_Bumper</a></li>
			<li><a href = "/Kmls/Citharichthys_spilopterus_Baywhiff_flounder.kml">Citharichthys_spilopterus_Baywhiff_flounder</a></li>
			<li><a href = "/Kmls/Coryphopterus_punctipectophorus_Spotted_goby.kml">Coryphopterus_punctipectophorus_Spotted_goby</a></li>
			<li><a href = "/Kmls/Cyclopsetta_chittendeni_Mexican_flounder.kml">Cyclopsetta_chittendeni_Mexican_flounder</a></li>
			<li><a href = "/Kmls/Cynoscion_arenarius_Sand_seatrout.kml">Cynoscion_arenarius_Sand_seatrout</a></li>
			<li><a href = "/Kmls/Diplectrum_bivittatum_Dwarf_Sandsea_Perch.kml">Diplectrum_bivittatum_Dwarf_Sandsea_Perch</a></li>
			<li><a href = "/Kmls/Etropus_crossotus_Fringed_flounder.kml">Etropus_crossotus_Fringed_flounder</a></li>
			<li><a href = "/Kmls/Galeocerdo_cuvier_Tiger_shark.kml">Galeocerdo_cuvier_Tiger_shark</a></li>
			<li><a href = "/Kmls/Gobiesox_strumosus_Skilletfish.kml">Gobiesox_strumosus_Skilletfish</a></li>
			<li><a href = "/Kmls/Gymnura_micrura_Smooth_butterfly_ray.kml">Gymnura_micrura_Smooth_butterfly_ray</a></li>
			<li><a href = "/Kmls/Halieutichthys_aculeatus_Pancake_batfish.kml">Halieutichthys_aculeatus_Pancake_batfish</a></li>
			<li><a href = "/Kmls/Larimus_fasciatus_Banded_drum.kml">Larimus_fasciatus_Banded_drum</a></li>
			<li><a href = "/Kmls/Leiostomus_xanthurus_Spot.kml">Leiostomus_xanthurus_Spot</a></li>
			<li><a href = "/Kmls/Lutjanus_campechanus_Bream.kml">Lutjanus_campechanus_Bream</a></li>
			<li><a href = "/Kmls/Menticirrhus_americanus_Southern_batfish.kml">Menticirrhus_americanus_Southern_batfish</a></li>
			<li><a href = "/Kmls/Micropogonias_undulatus_Atlantic_croaker.kml">Micropogonias_undulatus_Atlantic_croaker</a></li>
			<li><a href = "/Kmls/Monolene_sessilicauda_Deepwater_Flounder.kml">Monolene_sessilicauda_Deepwater_Flounder</a></li>
			<li><a href = "/Kmls/Mulloidichthys_martinicus_Dwarf_goatfish.kml">Mulloidichthys_martinicus_Dwarf_goatfish</a></li>
			<li><a href = "/Kmls/Negaprion_brevirostris_Lemon_shark.kml">Negaprion_brevirostris_Lemon_shark</a></li>
			<li><a href = "/Kmls/Neomerinthe_hemingwayi_Spinecheek_scorpionfish.kml">Neomerinthe_hemingwayi_Spinecheek_scorpionfish</a></li>
			<li><a href = "/Kmls/Ogcocephalus_declivirostris_Slantbrow_batfish.kml">Ogcocephalus_declivirostris_Slantbrow_batfish</a></li>
			<li><a href = "/Kmls/Ophidion_welshi_Crested_Cusk-eel.kml">Ophidion_welshi_Crested_Cusk-eel</a></li>
			<li><a href = "/Kmls/Paralichthys_albigutta_Gulf_flounder.kml">Paralichthys_albigutta_Gulf_flounder</a></li>
			<li><a href = "/Kmls/Peprilus_burti_Buttefish.kml">Peprilus_burti_Buttefish</a></li>
			<li><a href = "/Kmls/Porichthys_plectrodon_Midshipmen.kml">Porichthys_plectrodon_Midshipmen</a></li>
			<li><a href = "/Kmls/Prionotus_carolinus_Northern_Searobin.kml">Prionotus_carolinus_Northern_Searobin</a></li>
			<li><a href = "/Kmls/Prionotus_rubio_Blackwing_searobin.kml">Prionotus_rubio_Blackwing_searobin</a></li>
			<li><a href = "/Kmls/Prionotus_tribulus_Bighead_Searobin.kml">Prionotus_tribulus_Bighead_Searobin</a></li>
			<li><a href = "/Kmls/Selene_setapinnis_Atlantic_moonfish.kml">Selene_setapinnis_Atlantic_moonfish</a></li>
			<li><a href = "/Kmls/Selene_vomer_Lookdown.kml">Selene_vomer_Lookdown</a></li>
			<li><a href = "/Kmls/Setarches_guentheri_Deepwater_scorpionfish.kml">Setarches_guentheri_Deepwater_scorpionfish</a></li>
			<li><a href = "/Kmls/Sphoeroides_parvus_Least_puffer.kml">Sphoeroides_parvus_Least_puffer</a></li>
			<li><a href = "/Kmls/Stephanolepis_hispidus_Planehead_filefish.kml">Stephanolepis_hispidus_Planehead_filefish</a></li>
			<li><a href = "/Kmls/Syacium_gunteri_Shoal.kml">Syacium_gunteri_Shoal</a></li>
			<li><a href = "/Kmls/Symphurus_parvus_Pygmy_tounguefish.kml">Symphurus_parvus_Pygmy_tounguefish</a></li>
			<li><a href = "/Kmls/Symphurus_plagiusa_Blackcheek_tounguefish.kml">Symphurus_plagiusa_Blackcheek_tounguefish</a></li>
			<li><a href = "/Kmls/Syngnathus_louisianae_Chain_pipefish.kml">Syngnathus_louisianae_Chain_pipefish</a></li>
			<li><a href = "/Kmls/Synodus_foetens_Lizardfish.kml">Synodus_foetens_Lizardfish</a></li>
			<li><a href = "/Kmls/Trichiurus_lepturus_Atlantic_cuttlesfish.kml">Trichiurus_lepturus_Atlantic_cuttlesfish</a></li>
			<li><a href = "/Kmls/Urophycis_floridana_Southern_Hake.kml">Urophycis_floridana_Southern_Hake</a></li>
			<li><a href = "/Kmls/Urophycis_regia_Spotted_hake.kml">Urophycis_regia_Spotted_hake</a></li>
			<li><a href = "/Kmls/Xyrichtys_novacula_Pearly_razorfish.kml">Xyrichtys_novacula_Pearly_razorfish</a></li>
		</ul>
	</p>
 
<h3>Browse for Species(click to expand):</h3>

<script src='http://code.jquery.com/jquery-latest.js'></script>
                          <link rel='stylesheet' href='/css/screen.css' type='text/css' />
                          <link rel='stylesheet' href='/css/jquery.treeview.css' type='text/css' />
                          <script type='text/javascript' src='/javascripts/jquery.treeview.js'></script>
                          <script>
                          $(document).ready(function(){
                            $('tree2').treeview();
                            $(".pclass").onclick()
                          });
                           var treestate = {};

                             function getOrder(id) {
                             if(treestate["class"+id]==0){
                                treestate["class"+id]=1

                                 $.getJSON('getOrder/'+id, function(data) {
                                   var items = [];

                                   $.each(data, function(key, val) {
                                        $('#orderlist'+id).append("<li><span onclick='getFamily("+val[0]+")'> order: " + val[1] + "</span><br/><ul id='f"+val[0]+"'></ul></li>");
                                          treestate["order"+val[0]] = 0;
                                   });
                                 });
                                }
                             }

                             function getFamily(id) {

                                 if(treestate["order"+id]==0){
                                 treestate["order"+id]=1

                                 $.getJSON('getFamily/'+id, function(data) {
                                   var items = [];

                                   $.each(data, function(key, val) {
                                        $('#f'+id).append("<li><span onclick='getGenus("+val[0]+")'> family: " + val[1] + "</span><br/><ul id='g"+val[0]+"'></ul></li>");
                                          treestate["family"+val[0]] = 0;
                                   });
                                 });


                                }
                             }

                             function getGenus(id) {
                                 if(treestate["family"+id]==0){
                                     treestate["family"+id]=1

                                     $.getJSON('getGenus/'+id, function(data) {
                                       var items = [];

                                       $.each(data, function(key, val) {
                                            $('#g'+id).append("<li><span onclick='getSpecies("+val[0]+")'> genus: " + val[1] + "</span><br/><ul id='s"+val[0]+"'></ul></li>");
                                              treestate["genus"+val[0]] = 0;
                                       });
                                     });
                                }
                             }

                             function getSpecies(id) {
                                 if(treestate["genus"+id]==0){
                                     treestate["genus"+id]=1

                                     $.getJSON('getSpecies/'+id, function(data) {
                                       var items = [];

                                       $.each(data, function(key, val) {
                                            $('#s'+id).append("<li><span > species: " + val[1] + "</span><a href='getKML/"+val[2]+"?name="+val[1]+"'> (download kml)</a></li>");
                                              treestate["genus"+val[0]] = 0;
                                       });
                                     });
                                }
                             }
                          </script>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>




      <ul id="tree1">
       <% pclass =  ActiveRecord::Base.connection.execute('SELECT id, name FROM class').each { |c|  %>

     <li><span id='class<%=c[0] %>' class="pclass" onclick="getOrder(<%=c[0] %>)">class: <%= c[1] %></span><br/>
                       <ul id='orderlist<%=c[0] %>' > </ul>
     </li>
            <script> treestate["class<%=c[0] %>"] = 0;
   </script>
  <%  } %>
  </ul>



<br/><br/><br/>
<H3>How to use</H3>
<span>To view the kml's oil data in Google earth, move the 2 time sliders a short distance apart and pan the total distance or to see the total oil impact separate the 2 sliders all the way apart.  </span>
<br/> <br/>       
<img src="/images/GoogleEarthSample.png" alt=""/>
<br/> <br/>