<% content_for :head do %>
  <script src="/javascripts/sorttable.js"></script>
<% end %>

<h1>Listing Depthmaps</h1>

<p><%= link_to 'New Depthmap', new_depthmap_path %></p>

<div class="list">
<table class="sortable">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Oil Spill?</th>
    <th>Public?</th>
    <th>Owner</th>
    <th>Options</th>
  </tr>

<% @pointmaps.each do |pointmap| %>
  <tr>
    <td><%=h pointmap.name %></td>
    <td><%=h pointmap.description %></td>
    <td><%=h pointmap.oil_spill %></td>
    <td><%=h pointmap.public %></td>
    <td><%=h pointmap.user.login %></td>
    <td>
      <%= link_to 'View Depthmap', depthmap_path(pointmap) %> |
      <%= link_to 'Download Kml', "/pointmaps/download_kml/#{pointmap.id}" %>
      <% if current_user.id == pointmap.user_id %>
        | <%= link_to 'Edit', edit_depthmap_path(pointmap) %>
        | <%= link_to 'Delete', pointmap, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
