<h1>Listing pointmaps</h1>

<%= link_to 'New pointmap', new_pointmap_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Public?</th>
    <th>Owner</th>
  </tr>

<% @pointmaps.each do |pointmap| %>
  <tr>
    <td><%=h pointmap.name %></td>
    <td><%=h pointmap.description %></td>
    <td><%=h pointmap.public %></td>
    <td><%=h pointmap.user.login %></td>
    <td><%= link_to 'Show', pointmap %></td>
    <td><%= link_to 'Edit', edit_pointmap_path(pointmap) %></td>
    <td><%= link_to 'Destroy', pointmap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
